* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #044875, hsl(204, 38%, 46%), #a7c2d4 );
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: linear-gradient(to left, #161616, hsl(0, 0%, 16%), #3b3b3b);
    color: #fff;
    padding: 1rem;
    text-align: center;
}
header h1 {
    font-size: 2.5rem;
    letter-spacing: 1.5rem;
    font-weight: 1000;
}
header p{
    font-size: 1.0rem;
    word-spacing: 5px;
    font-weight: 1000;
    letter-spacing: 5px;
    border-bottom: 1px solid;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
nav ul li {
    display: inline;
    margin-right: 30px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f0b20a;
}

main {
    padding: 2rem;
}
section {
    margin-bottom: 2rem;
    background-color: #bbb0b0;
    padding: 2.5rem;
    border-radius: 10px;
}
section h2{
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}
.circ-image img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.circ-image{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid;
    border-color: white;
}
#about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}
.about-section-wrapper {
    display: flex;
    margin-bottom: 20px;
}
.about-content{
    flex: 3;
    padding: 20px;
}
.about-content2, .sidebar {
    flex: 1;
    padding: 20px;
}
.about-content h3{
    font-size: 2.0rem;
    justify-content: flex-start;
}
.about-content p{
    padding-top: 20px;
    text-align: justify;
}
.about-content2{
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about-content2 ul{
    list-style: none;
    padding-bottom: 2px;
}
.about-content2 li{
    padding-left: 5px;
}
.sidebar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #e1e1e1;
    padding: 5px;
    border-radius: 8px;
}
.sidebar h3 {
    font-size: 1.0rem;
    margin-bottom: 10px;
    border-bottom: 1px solid;

}
.sidebar ul {
    list-style: none;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sidebar ul li {
    margin-bottom: 5px;
}
.hobbies{
    padding-top: 10px;
}
.hobbies ul li{
    font-size: 1.0rem;
    padding-bottom: 5px;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
}
p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
figure {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex: 3;
}
.fig1, .fig2, .fig3{
    padding: 2em;
}
img{
    width: 280px;
    height: 425px;
    transition: transform 0.5s;
    cursor: pointer;
}
img:hover{
    transform: scale(1.0);
    animation: bounce 0.2s ease-in-out;
}
@keyframes bounce{
    0%{
        transform: scale(1.0);
    }50%{
        transform: scale(0.9);
    }100%{
        transform: scale(1.0);
    }
}
#pic {
    border: 10px solid;
    border-color: rgb(82, 82, 82);
    border-radius: 8px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}
figcaption {
    margin-top: 0.5rem;
}
.vidframe{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex: 2;
}
.vid1, .vid2{
    padding: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    margin: 5px;
}
iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
.map iframe{
    border: 5px solid;
    border-radius: 8px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}
.contact{
    background-color: #bbb0b0;
    padding: 1em;
    border-radius: 10px;
}
.contact h2{
    padding-bottom: 10px;
}
.contact a{
    text-decoration: none;
    color: black;
}
.contact p a{
    padding-top: 10px;
    padding: 10px;
}
#social img{
    border-radius: 5px;
    width: 30px;
    height: 30px;
}
.borderline{
    padding-top: 5px;
    border-bottom: 1px solid;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer p {
    font-size: 1rem;
}
@media screen and (max-width: 768px) {
    header{
        align-items: center;
    }
    nav ul li a{
        align-items: center;
        text-align: center;
    }
    #about {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
    }
    aside.sidebar {
        width: 100%; /* Take full width on small screens */
    }
    figure{
        flex-direction: column;
        align-items: center;
    }
    .vidframe{
        flex-direction: column;
        align-items: center;
    }
}